<!DOCTYPE html>
<html>
  <head>
    <title>room</title>

    <!-- loading bootstrap -->
    <link href="Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- loading flatUI -->
    <link href="/stylesheets/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
    <link href="/stylesheets/Flat-UI-master/css/demo.css" rel="stylesheet">
  </head>
  <body>
    <%- body %>
  </body>
</html>
