body {
  font: 14px "Lucida Grande", HelveticaNeue-Ultralight, Arial, sans-serif;
  background-color: #2980B9;
}

a {
  color: #00B7FF;
}

#loginForm {
    width: 30%;
    float: left;
}

#createUserForm {
    width: 60%;
    float: right;
}

#errorFrame {
    display: table-cell;
    float: center;
    vertical-align: #ccc;
    text-align: center;
}

#errorImg {
    top: 50%;
}

#errMsg {
    color: #C0392B;
}
