<h1> <%= title %> </h1>
<ul class="message">
	<% if (err.path) { %>
		<li> Can't find your request for <%= err.path %></li>
	<% } else { %>
		<li>Sorry.. something wrong with servr </li>
	<% } %>
</ul>

<p> <a href="/topics">Top</a></p>
