<div id="errorFrame">
<h1> <%= title %> </h1>
<ul class="message">
	<% if (err.path) { %>
		<li> Can't find your request for <%= err.path %></li>
	<% } else { %>
		<li>Sorry.. something wrong with servr </li>
	<% } %>
</ul>
<div id="errorImg">
	<img src='/images/error.gif'>
</div>
<p> <a class="btn btn-block btn-g btn-danger"href="/sessions/new">ログイン画面へ</a></p>
</div>
