<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
	<div id="side">
	
	<%- username_or_login %>
	</div>
		
  </body>
</html>
