<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/Flat-UI-master/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/Flat-UI-master/css/flat-ui.css' />
    <link rel='stylesheet' href='/stylesheets/Flat-UI-master/css/demo.css' />

</head>
  <body>
    <%- body %>
	

	<%- username_or_login %>


  </body>
</html>
