<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
	<div id="side">
		<p class="login"><a href="/sessions/new">login</a></p>
	</div>
		
  </body>
</html>
